<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/tts-rest/js/pcm-player.js"></script>
    <script src="/tts-rest/js/jquery-v3.3.1.min.js"></script>
    <title>Mindslab.ai</title>
</head>
<body>
<h3>Mindslab TTS PCM Test..</h3>
<p>
    Input TEXT:<br/>
    <textarea id="inText" style="width:600px;height:350px;" th:maxlength="${maxLength}">안녕하세요 마인즈랩입니다.</textarea>
    <span id="err"></span>
</p>
<p>
    <select id="setName">
        <option th:each="grpcName : ${grpcNames}" th:value="${grpcName}" th:text="${grpcName}"></option>
    </select>
    <input type="number" id="setSpeaker" min="0" value="0"/>
    <button id="btnGo" >Go</button>
</p>

</body>

<script>
    var active = true;
    $(document).ready(function(){
        $("#btnGo").click(function(){
            if(!active){
                return;
            }
            var name = $('#setName :selected').val();
            var speaker = $('#setSpeaker').val();
            speak(name, speaker, $('#inText').val());
        });
    });

    var speakHeader = new Headers({
        "Content-Type": "application/json",
    });

    var pcmPlayer = null;
    function speak(name, speaker, text) {
        if (pcmPlayer != null) {
            pcmPlayer.destroy();
        }
        pcmPlayer = new PCMPlayer({
            encoding: '16bitInt',
            channels: 1,
            sampleRate: 22050,
            flushingTime: 500
        });
        active = false;
        updateStat();
        var _url = '/tts-rest/tts/block/speak';
        var payload = {"name":name,"speaker":speaker,"text": text, "audioEncoding": "PCM"};
        var req = { method: 'POST',
            headers: speakHeader,
            body: JSON.stringify(payload),
            mode: 'cors',
            cache: 'default' };
        fetch(_url, req)
            .then((response) => {
                if(response.ok){
                    const reader = response.body.getReader();
                    var data = null;
                    function read() {
                        return reader.read().then(({value, done}) => {
                            if (done) {
                                active = true;
                                updateStat();
                                return;
                            } else {
                                if (data != null) {
                                    var temp = new Uint8Array(value.length + 1);
                                    temp.set(data, 0);
                                    temp.set(value, 1);
                                    data = temp;
                                } else {
                                    data = value;
                                }
                                if (data.length % 2 === 0) {
                                    pcmPlayer.feed(data);
                                    data = null;
                                } else {
                                    pcmPlayer.feed(data.slice(0, data.length - 1));
                                    data = data.slice(data.length - 1, data.length);
                                }
                                return read();
                            }
                        })
                    }
                    return read();
                }else{
                    console.log('Network error.');
                    active = true;
                    updateStat();
                }
            })
            .then( () => {
                console.log('all stream bytes queued for decoding');
            }).catch(e => {
                active = true;
                updateStat();
                $('#err').html(e);
            });
    }
    function updateStat(){
        if(active){
            $('#btnGo').html('Go');
        }else{
            $('#btnGo').html("processing...");
        }

    }

</script>
</html>
